html{
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

.highlight .cm {
    font-style: italic; 

    color: #998;
}

.highlight .cp {
    font-weight: bold; 

    color: #999;
}

.highlight .c1 {
    font-style: italic; 

    color: #998;
}

.highlight .cs {
    font-weight: bold;
    font-style: italic; 

    color: #999;
}

.highlight .c,
.highlight .cd {
    font-style: italic; 

    color: #998;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .ge {
    font-style: italic; 

    color: #000;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: bold; 

    color: #000;
}

.highlight .kd {
    font-weight: bold; 

    color: #000;
}

.highlight .kn {
    font-weight: bold; 

    color: #000;
}

.highlight .kp {
    font-weight: bold; 

    color: #000;
}

.highlight .kr {
    font-weight: bold; 

    color: #000;
}

.highlight .kt {
    font-weight: bold; 

    color: #458;
}

.highlight .k,
.highlight .kv {
    font-weight: bold; 

    color: #000;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .il {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: #008080;
}

.highlight .bp {
    color: #999;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    font-weight: bold; 

    color: #458;
}

.highlight .no {
    color: #008080;
}

.highlight .nd {
    font-weight: bold; 

    color: #3c5d5d;
}

.highlight .ni {
    color: #800080;
}

.highlight .ne {
    font-weight: bold; 

    color: #900;
}

.highlight .nf {
    font-weight: bold; 

    color: #900;
}

.highlight .nl {
    font-weight: bold; 

    color: #900;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: #000080;
}

.highlight .vc {
    color: #008080;
}

.highlight .vg {
    color: #008080;
}

.highlight .vi {
    color: #008080;
}

.highlight .nv {
    color: #008080;
}

.highlight .ow {
    font-weight: bold; 

    color: #000;
}

.highlight .o {
    font-weight: bold; 

    color: #000;
}

.highlight .w {
    color: #bbb;
}

.highlight {
    background-color: #f8f8f8;
}

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
*:before,
*:after {
    font: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline; 

    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0; 
    border-collapse: collapse;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
body {
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box;

    color: #373737;
    background: #212121;

    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    font-weight: 700;

    margin: 10px 0;

    letter-spacing: -1px; 

    color: #222;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 32px;

    padding-bottom: 10px;

    background: url('../img/bg_hr.png') repeat-x bottom;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 10px 0 15px 0;
}

footer p {
    color: #f2f2f2;
}

a {
    -webkit-transition: color .5s ease;
    -webkit-transition: text-shadow .5s ease;
       -moz-transition: color .5s ease;
       -moz-transition: text-shadow .5s ease;
        -ms-transition: color .5s ease;
        -ms-transition: text-shadow .5s ease; 
         -o-transition: color .5s ease;
         -o-transition: text-shadow .5s ease;
            transition: color .5s ease;
            transition: text-shadow .5s ease;
    text-decoration: none;

    color: #007edf;
    text-shadow: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

footer a {
    text-decoration: underline; 

    color: #f2f2f2;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    position: relative;

    max-width: 739px;
    margin: 0 auto;
    margin: 10px 0 10px 0;
    padding: 5px;

    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 0 5px #ebebeb;
       -moz-box-shadow: 0 0 5px #ebebeb;
            box-shadow: 0 0 5px #ebebeb;

         -o-box-shadow: 0 0 5px #ebebeb;
        -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
    display: inline;

    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;

    border: none;
}

pre,
code {
    font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;
    font-size: 14px;

    width: 100%;

    color: #222;
    -webkit-border-radius: 2px; 
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #fff;
}

pre {
    overflow: auto; 

    width: 100%;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

code {
    margin: 0 3px;
    padding: 3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

pre code {
    display: block;

    box-shadow: none;
}

blockquote {
    margin-bottom: 20px;
    padding: 0 0 0 20px;

    color: #666;
    border-left: 3px solid #bbb;
}

ul,
ol,
dl {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px; 

    list-style: disc;
    list-style-position: inside;
}

ol {
    padding-left: 20px; 

    list-style: decimal;
    list-style-position: inside;
}

dl dt {
    font-weight: bold;
}

dl dd {
    font-style: italic; 

    padding-left: 20px;
}

dl p {
    font-style: italic; 

    padding-left: 20px;
}

hr {
    height: 1px;
    margin-bottom: 5px;

    border: none;
    background: url('../img/bg_hr.png') repeat-x center;
}

table {
    margin-bottom: 20px;

    text-align: left; 

    border: 1px solid #373737;
}

th {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    padding: 10px;

    color: #fff; 
    background: #373737;
}

td {
    padding: 10px;

    border: 1px solid #373737;
}

form {
    padding: 20px; 

    background: #f2f2f2;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.outer {
    width: 100%;
}

.inner {
    position: relative;

    max-width: 1280px;
    margin: 0 auto; 
    padding: 20px 16px;
}

#forkme_banner {
    font-weight: 700;

    position: absolute;
    z-index: 10;
    top: 0;
    right: 10px;

    display: block;

    padding: 10px 50px 10px 10px;

    color: #fff;
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px;
    background: url('../img/blacktocat.png') #0090ff no-repeat 95% 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#header_wrap {
    background: #212121;
    background:    -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background:     -ms-linear-gradient(top, #373737, #212121);
    background:      -o-linear-gradient(top, #373737, #212121);
    background:         linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
    padding: 50px 10px 30px 10px;
}

#project_title {
    font-size: 42px;
    font-weight: 700;

    margin: 0;

    color: #fff;
    text-shadow: #111 0 0 10px;
}

#project_tagline {
    font-size: 24px;
    font-weight: 300;

    color: #fff;
    background: none;
    text-shadow: #111 0 0 10px;
}

#downloads {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -40px;

    width: 210px;
    height: 70px;

    background: url('../img/icon_download.png') no-repeat 0 90%;
}

.zip_download_link {
    display: block;
    float: right;
    overflow: hidden;

    width: 90px;
    height: 70px;

    text-indent: -5000px;

    background: url(../img/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
    display: block;
    float: right;
    overflow: hidden;

    width: 90px;
    height: 70px;
    margin-left: 10px; 

    text-indent: -5000px;

    background: url(../img/sprite_download.png) no-repeat bottom right;
}

.zip_download_link:hover {
    background: url(../img/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
    background: url(../img/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
    border-top: 1px solid #111;
    border-bottom: 1px solid #111; 
    background: #f2f2f2;
}

#main_content {
    padding-top: 40px;
}

#footer_wrap {
    background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 1366px) {
    .inner {
      max-width: 960px;
    }
}
@media screen and (max-width: 992px) {
    .inner {
      max-width: 640px;
    }
    img {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    #downloads {
        display: none;
    }
    .inner {
        min-width: 320px;
        max-width: 480px;
    }
    #project_title {
        font-size: 32px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    code,
    pre {
        font-size: 11px; 

        min-width: 320px;
        max-width: 480px;
    }
}


.project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-list>.project-item {
    padding: .75rem;
    width: 1%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.project-list>.project-item>.project-item__body {
    background-color: #fff;
    height: 100%;
    position: relative;
    padding-bottom: 1rem;
    max-width: 22.5rem;
    margin-left: auto;
    margin-right: auto
}

.project-list>.project-item .project-item__thumbnail {
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: #e0e0e0
}

.project-list>.project-item .project-item__thumbnail a,.project-list>.project-item .project-item__thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.project-list>.project-item .project-item__title {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 1rem 0
}

.project-list>.project-item .project-item__description {
    margin: .75rem 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
    line-height: 1.5rem
}

@media screen and (min-width: 640px) {
    .project-list>.project-item {
        min-width:50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }

}

@media screen and (min-width: 768px) {
    .project-list>.project-item .project-item__thumbnail {
       
    }
}

@media screen and (min-width: 1024px) {
    .project-list>.project-item {
        min-width:33.3333%;
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%
    }

}

@media screen and (min-width: 1366px) {
    .project-list>.project-item {
        min-width:25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
}

@media screen and (min-width: 1440px) {

}