body {
  padding: 10px;
  margin: 0;
  font: 14px / 1.5 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Arial, sans-serif;
}

.demo-head {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.demo-head a {
  color: #43a3fb;
}

.demo-head .demo-groups{
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 10px auto;
}

.demo-head .demo-groups a {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  padding: 4px 10px;
  border: 1px solid #dedede;
  font-size: 12px;
  text-decoration: none;
  margin-left: -1px;
  position: relative;
}
.demo-head .demo-groups a:hover,
.demo-head .demo-groups a:active {
  z-index: 1;
  border-color: #43a3fb;
}
.demo-head .demo-groups a.active {
  background-color: #43a3fb;
  border-color: #43a3fb;
  color: #fff;
  z-index: 1;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

h1 small {
  font-size: 18px;
  font-weight: normal;
  margin-left: 20px;
}

* {
  box-sizing: border-box;
}

.row {
  border: 1px solid #ccc;
  margin: 10px;
  font-size: 0;
}

.cell {
  width: 33.333%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #ccc;
  margin-left: -1px;
  padding: 10px;
  font-size: 14px;
  height: 640px;
  overflow-y: auto;
}

.cell ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cell li {
  line-height: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.cell li .item-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.cell li .item-title a {
  color: royalblue;
}

.cell li .item-title time {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.cell li .item-info {
  margin-top: 5px;
}

.cell li .item-info span:not(:first-of-type) {
  margin-left: 20px;
}

.cell li .item-info span strong {
  font-weight: bold;
}

.cell button {
  margin-top: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.cell button.submit {
  background: rgb(73, 155, 234);
  background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
  color: #fff;
  border: 1px solid rgba(32, 124, 229, 1);
}

.cell button.reset {
  background: rgb(254, 255, 255);
  background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
  border: 1px solid rgba(160, 216, 239, 1);
}

.cell h3 {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 10px 0;
}

.cell h5 {
  color: royalblue;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.cell label {
  display: inline-block;
  margin: 0 10px 10px 0;
  color: #333;
}

.cell pre {
  padding: 10px;
  white-space: pre-wrap;
}
.cell form hr {
  height: 1px;
  margin: 5px 0;
  background-color: #ccc;
  border: none;
}

.gitbtns {
  margin: 10px auto;
  text-align: center;
}

.gitbtns iframe {
  display: inline;
  width: auto;
  max-width: 120px;
}


/* data-list */

.data-list {
  margin: 50px;
  font-size: 14px;
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
}

.data-list .data-list__head {
  margin-bottom: 20px;
  overflow: hidden;
}

.data-list__head .search-wrap {
  float: left;
}

.data-list__head .sort-wrap {
  float: right;
  font-size: 0
}

.sort-wrap button {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #dedede;
  padding: 6px 15px 4px 15px;
  line-height: 20px;
  margin-left: -1px;
  cursor: pointer;
  position: relative;
}

.sort-wrap button:hover,
.sort-wrap button:active,
.sort-wrap button:focus,
.sort-wrap button.active {
  z-index: 1;
  border-color: #43a3fb;
}

.sort-wrap button.active {
  background-color: #43a3fb;
  color: #fff;
}

.data-list .data-list__table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.data-list__table td,
.data-list__table th {
  border-bottom: 1px solid #dedede;
  padding: 10px;
  text-align: left;
}

.data-list__table td.eof {
  padding: 20px;
  text-align: center;
  color: #f00;
  border-bottom: none;
}

.data-list__foot {
  margin-top: 20px;
  overflow: hidden;
}

.page-infos {
  float: left;
  font-size: 12px;
  margin: 5px 0 5px 0;
  padding: 7px 0;
  line-height: 1;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
  float: right;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 5px 0 5px 5px;
  padding: 7px 10px;
  line-height: 1;
  border: 1px solid #dedede;
  cursor: pointer;
}

.pagination li:hover {
  border-color: #43a3fb;
  color: #43a3fb;
}

.pagination li.active {
  border-color: #43a3fb;
  background-color: #43a3fb;
  color: #fff;
}

.search-input {
  display: inline-block;
  width: 200px;
  padding: 6px 10px 4px 10px;
  line-height: 20px;
  border: 1px solid #dedede;
}

.search-btn {
  display: inline-block;
  border: 1px solid #43a3fb;
  background-color: #43a3fb;
  padding: 6px 15px 4px 15px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}